
.icon-home:before { content: '\e800'; } /* '' */
.icon-registro:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-card:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-laptop:before { content: '\e809'; } /* '' */
.icon-login:before { content: '\e80a'; } /* '' */
.icon-graduation-cap:before { content: '\e80b'; } /* '' */
.icon-key:before { content: '\e80c'; } /* '' */
.icon-trash:before { content: '\e80d'; } /* '' */
.icon-eye-off:before { content: '\e80e'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-left:before { content: '\e810'; } /* '' */
.icon-right:before { content: '\e811'; } /* '' */
.icon-tag:before { content: '\e812'; } /* '' */
.icon-doc:before { content: '\e813'; } /* '' */
.icon-cancel:before { content: '\e814'; } /* '' */
.icon-ok:before { content: '\e815'; } /* '' */
.icon-t-shirt:before { content: '\e816'; } /* '' */
.icon-cog:before { content: '\e817'; } /* '' */
.icon-heart:before { content: '\e818'; } /* '' */
.icon-heart-empty:before { content: '\e819'; } /* '' */
.icon-group:before { content: '\e81a'; } /* '' */
.icon-sun:before { content: '\e81b'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-entrar:before { content: '\f02c'; } /* '' */
.icon-logout:before { content: '\f02d'; } /* '' */
.icon-folder-open:before { content: '\f115'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
