:root {
    --vino: #5a0d16;
    --vino-oscuro: #3d0a11;
    --claro: #f4ece4;
    --fondo: #d9d8de;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Cormorant Garamond", serif;
    background:
        radial-gradient(circle at 15% 10%, #fff8f3 0, #f0e5dd 42%, #eadfda 100%),
        linear-gradient(140deg, #f5ebe5 0%, #e6d7cc 100%);
    padding: 18px 14px 30px;
}

nav {
    background-color: #5a0d16;
    position: relative;
}

/* icono hamburguesa */
nav label {
    display: block;
    font-size: 1.8rem;
    color: white;
    padding: 10px;
    cursor: pointer;
}

/* menú */
nav ul {
    list-style: none;
    position: fixed;          /* 👈 CLAVE */
    top: 0;
    left: -100%;              /* 👈 oculto */
    width: 260px;
    height: 100vh;
    background: #5a0d16;

    display: flex;
    flex-direction: column;   /* 👈 vertical */
    align-items: flex-start;

    padding: 60px 20px;
    gap: 20px;

    transition: 0.3s;
    z-index: 999;
}

nav ul li {
    width: 100%;
}

nav ul li a {
    display: block;
    width: 100%;
    color: #f4e9df;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #d6bfa6;
}

/* CONTENEDOR APP */
.contenedor-app {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background: #efe4dc;
}

/* BARRA SUPERIOR */
.barra-superior {
    background: linear-gradient(120deg, #4d0c15, #5f1120);
    color: #f4e9df;
}

.fila-marca {
    display: grid;
    grid-template-columns: 40px 1fr auto;
    align-items: center;
    gap: 10px;
    padding: 10px 14px 12px;
}

.boton-icono {
    border: none;
    background: none;
    color: inherit;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 0;
}

.marca {
    text-align: center;
}

.marca h1 {
    font-family: "Cinzel", serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.6rem;
}

.marca p {
    letter-spacing: 2px;
    font-size: 0.8rem;
    opacity: .75;
}

.iconos-acciones {
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
}

/* USUARIO */
.usuario-barra {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding: 7px 12px;
    background: rgba(240, 214, 196, 0.85);
    color: #674249;
}

.nombre-usuario {
    font-size: .8rem;
    font-weight: 600;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

/* SECCIONES */
.colecciones,
.outfit-dia {
    padding: 14px 14px 0;
    text-align: center;
}

.outfit-dia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;
}

.outfit-dia h2,
.outfit-dia p {
    grid-column: 1 / -1;
    text-align: center;
}

.colecciones h2,
.outfit-dia h2 {
    font-family: "Cinzel", serif;
    font-size: 1.4rem;
    color: #6d303e;
    position: relative;
}

.colecciones h2::before,
.colecciones h2::after,
.outfit-dia h2::before,
.outfit-dia h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 30%;
    height: 1px;
    background: rgba(118, 60, 72, .45);
}

.colecciones h2::before,
.outfit-dia h2::before {
    left: 0;
}

.colecciones h2::after,
.outfit-dia h2::after {
    right: 0;
}

.colecciones p,
.outfit-dia p {
    font-size: .9rem;
    color: #6f4a52;
    margin-bottom: 12px;
}

/* CATEGORIAS */
.categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    width: 100%;
    margin-top: 50px;
}

.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.categoria img {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.categoria span {
    font-family: "Cinzel", serif;
    font-size: .75rem;
}

/* TARJETA OUTFIT */
.tarjeta-outfit {
    background: linear-gradient(160deg, #f4e7de, #e6d7ce);
    border-radius: 10px;
    margin-top: 6px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 10px;
    position: relative;
}

.imagen-outfit img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.info-outfit {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.info-outfit h3 {
    font-family: "Cinzel", serif;
    font-size: 1.3rem;
    color: #6a2f3d;
}

.mini-galeria {
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    align-items: center;
}

.mini-galeria button {
    border: none;
    background: transparent;
    font-size: 1.4rem;
    color: #6a2f3d;
    cursor: pointer;
    width: 5px;
}

.mini-galeria img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

/* ETIQUETAS */
.etiquetas {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #c8b6ac;
    border-bottom: 1px solid #c8b6ac;
    padding: 3px 0;
}

.etiquetas span {
    font-family: "Cinzel", serif;
    font-size: .7rem;
}

/* AUTOR */
.autor {
    margin-top: auto;
    background: #d1bbb0;
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px 4px 4px;
}

.autor img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.fecha {
    position: absolute;
    left: 10px;
    bottom: 6px;
    font-size: .8rem;
}

/* BOTON FINAL */
.boton-armario {
    display: block;
    margin-top: 18px;
    background: linear-gradient(90deg, #4d0c15, #5f1120);
    color: #f8eee8;
    text-decoration: none;
    text-align: center;
    font-family: "Cinzel", serif;
    font-size: 1.8rem;
    padding: 9px;
}

#chkMenu {
    display: none;
}

/* abrir menú */
#chkMenu:checked+ul {
    left: 0;
}

/* TABLET */
@media (min-width:768px) {
    .contenedor-app {
        width: 430px;
    }

    .imagen-outfit img {
        height: 170px;
    }

}

/* =========================
   DISEÑO ORDENADOR
   ========================= */
@media (min-width: 1024px) {

    body {
        padding: 0;
    }

    /* ocupa toda la pantalla */
    .contenedor-app {
        width: 100%;
        max-width: none;
        margin: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    /* más aire lateral */
    .colecciones,
    .outfit-dia {
        padding: 40px 60px;
    }

    /* DOS OUTFITS EN FILA */
    .outfit-dia {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        align-items: start;
    }

    /* título ocupa toda la fila */
    .outfit-dia h2,
    .outfit-dia p {
        grid-column: 1 / -1;
        text-align: center;
    }

    /* tarjetas más grandes */
    .tarjeta-outfit {
        width: 100%;
        grid-template-columns: 1.3fr 1fr;
        padding: 18px;
    }

    .imagen-outfit img {
        height: 260px;
    }

    .mini-galeria img {
        height: 110px;
    }

    /* botón inferior ancho completo */
    .boton-armario {
        width: 100%;
        margin-top: 40px;
        font-size: 2rem;
    }

}

@media (max-width: 480px) {

    body {
        padding: 0;
    }

    .contenedor-app {
        width: 100%;
        border-radius: 0;
    }

    /* SECCIONES MÁS COMPACTAS */
    .colecciones,
    .outfit-dia {
        padding: 15px 12px;
    }

    /* CATEGORÍAS MÁS PEQUEÑAS */
    .categorias {
        gap: 8px;
        margin-top: 15px;
    }

    .categoria img {
        width: 70px;
    }

    .categoria span {
        font-size: 0.6rem;
    }

    /* OUTFITS MÁS COMPACTOS */
    .outfit-dia {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    /* TARJETA MÁS PEQUEÑA */
    .tarjeta-outfit {
        grid-template-columns: 1fr 1fr; /* 👈 vuelve a horizontal */
        padding: 8px;
        gap: 8px;
    }

    /* IMAGEN MÁS BAJA */
    .imagen-outfit img {
        height: 120px;
    }

    /* INFO MÁS COMPACTA */
    .info-outfit {
        gap: 4px;
    }

    .info-outfit h3 {
        font-size: 0.9rem;
    }

    /* MINI GALERÍA MÁS PEQUEÑA */
    .mini-galeria img {
        height: 60px;
    }

    .mini-galeria button {
        font-size: 1rem;
    }

    /* ETIQUETAS MÁS PEQUEÑAS */
    .etiquetas span {
        font-size: 0.55rem;
    }

    /* AUTOR MÁS PEQUEÑO */
    .autor {
        padding: 2px 6px;
    }

    .autor img {
        width: 16px;
        height: 16px;
    }

    /* FECHA MÁS DISCRETA */
    .fecha {
        font-size: 0.6rem;
    }

    /* BOTÓN FINAL */
    .boton-armario {
        font-size: 1.2rem;
        padding: 10px;
        margin-top: 15px;
    }
}