
.icon-key:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
